.best-product {
  @mixin container;
  position: relative;
  padding-top: 28px;
  padding-bottom: 42px;
  outline: 1px solid red;
  @media (--tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 69px;
  }
  @media (--desktop) {
    padding-left: 175px;
    padding-top: 54px;
    padding-bottom: 90px;
  }
}

.best-product__title {
  margin: 0 0 5px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  outline: 1px solid red;
  @media (--tablet) {
    flex-grow: 1;
    margin-right: 44px;
    font-size: 43px;
    line-height: calc(50/43);
    text-indent: -3px;
  }
  @media (--desktop) {
    width: 100%;
    z-index: 2;
    padding-top: 72px;
    overflow: hidden;
    font-size: 53px;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.best-product__sign {
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 1.0;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-mint;
  outline: 1px solid red;
  @media (--tablet) {
    width: 125px;
    margin-bottom: 54px;
    padding-top: 11px;
    text-align: center;
  }
  @media (--desktop) {
    position: absolute;
    left: 21px;
    top: 128px;
  }
}

.best-product__info-wrap {
  outline: 1px solid red;
  @media (--tablet) {
    margin-bottom: 115px;
    box-sizing: border-box;
  }
  @media (--desktop) {
    padding-top: 46px;
  }
}

.best-product__description {
  margin: 0 0 15px;
  line-height: 1.6;
  @media (--tablet) {
    width: 290px;
    margin-bottom: 37px;
    font-size: 17px;
    line-height: calc(30/17);
  }
  @media (--desktop) {
    outline: 1px solid green;
    margin-bottom: 48px;
  }
}

.best-product__features {
  width: 100%;
  margin-bottom: 25px;
  border-collapse: collapse;
  line-height: 1.33;
  @media (--tablet) {
    width: 296px;
  }
  @media (--desktop) {
    outline: 1px solid green;
  }
}

.best-product__feature {
  font-size: 15px;
  line-height: calc(20/15);
  padding: 11px 0 11px;
  border-bottom: 1px solid #ececec;
  @media (--tablet) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
  @media (--desktop) {
    padding-top: 9px;
    padding-bottom: 12px;
  }
}

.best-product__feature-value {
  padding: 10px 0 12px 16px;
  font-size: 15px;
  line-height: calc(20/15);
  border-bottom: 1px solid #ececec;
  @media (--tablet) {
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 0;
  }
}

.best-product__image {
  height: 315px;
  margin-bottom: 25px;
  outline: 1px solid green;
  @media (--tablet) {
    width: 334px;
    height: 404px;
    padding-top: 8px;
    margin-bottom: 0;
  }
  @media (--desktop) {
      width: 525px;
      height: 636px;
      margin-top: -114px;
      background-color: #f1f1f1;
  }
}

.best-product__buy-wrap {
  outline: 1px solid red;
  @media (--tablet) {
    margin-top: -115px;
  }
}

.best-product__price {
  margin: 0 0 26px;
  text-align: center;
  font-size: 17px;
  line-height: 1.4;
  font-weight: bold;
  @media (--tablet) {
    width: 296px;
    margin-right: 0;
    margin-bottom: 33px;
    font-size: 20px;
    line-height: calc(24/20);
  }
  @media (--desktop) {
    width: 304px;
    margin-right: 46px;
  }
}

.best-product__btn {
  width: 100%;
  @media (--tablet) {
    width: 292px;
    margin-right: 0;
    text-align: center;
    text-indent: 5px;
  }
  @media (--desktop) {
    width: 292px;
    margin-right: 46px;
    padding-left: 19px;
    text-indent: 0;
  }
}


