.btn {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 0.889;
  color: $text-color;
  text-transform: uppercase;
  border: 2px solid $text-color;
  background-color: $color-white;

  &--size {

  }
}
