.contacts {
  padding-top: 37px;
  padding-bottom: 39px;
  box-sizing: border-box;
  @media (--tablet) {
    padding-top: 62px;
    padding-bottom: 56px;
  }
}

.contacts__inner {
  @mixin container;
}

.contacts__title {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.666;
  color: $color-black;
  @media (--tablet) {
    margin-bottom: 49px;
    font-size: 43px;
    line-height: calc(50/43);
    text-indent: -3px;
  }
}

.contacts__table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 37px;
  @media (--tablet) {
    margin-bottom: 56px;
    font-size: 17px;
    line-height: calc(30/17);
  }
}

.contacts__type {
  outline: 1px solid red;
  padding-bottom: 30px;
  padding-right: 11px;
  @media (--tablet) {
    padding-right: 5px;
  }
}

.contacts__value {
  outline: 1px solid red;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding-left: 19px;
  width: 201px;
  @media (--tablet) {
    width: 255px;
    padding-right: 15px;
    margin-right: 21px;
    padding-left: 20px;
  }

  &--narrow {
    padding-right: 40px;
    @media (--tablet) {
      padding-right: 0;
    }
  }
}

.contacts__email {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $text-color;
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #46c1ae;
  }
  &:active {
    opacity: 0.3;
  }
}

.contacts__btn {
  @mixin container;
  font-size: 18px;
  text-align: center;
  @media (--tablet) {
    width: 230px;
    text-align: inherit;
    padding-left: 39px;
    padding-right: 38px;
    font-size: 17px;
  }
}


@media (--desktop) {
  .contacts {
    @mixin container;
    padding-left: 175px;
    display: flex;
    flex-wrap: wrap;
  }
  .contacts__inner {
    max-width: 350px;
    margin: 0;
    margin-bottom: 55px;
    padding-right: 47px;
  }
  .contacts__table {
    padding: 0;
  }
  .contacts__type {
    width: 60px;
  }
  .contacts__value {
    padding-left: 18px;
    max-width: 227px;
  }
  .contacts__btn {
    order: 2;
    width: 230px;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;
    /* Margin-top равен высоте кнопки */
    margin-top: -55px;
  }
}
