.main-nav {
  position: relative;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: $color-white;

  &--closed {
    .main-nav__lists {
      @media (--mobile-only) {
        display: none;
      }
    }
    .main-nav__toggle::before {
      content: "";
      position: absolute;
      top: 18px;
      left: 15px;
      width: 20px;
      height: 2px;
      background-color: #221f1f;
      box-shadow: 0 6px 0 0 #221f1f,
      0 12px 0 0 #221f1f;
    }
  }

  &--opened {
    .main-nav__lists {
      @media (--mobile-only) {
        position: absolute;
        width: 100%;
        z-index: 2;
      }
    }
    .main-nav__toggle {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 24px;
        right: 11px;
        width: 29px;
        height: 2px;
        background-color: #221f1f;
      }
      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &--nojs {
    .main-nav__lists {
      @media (--mobile-only) {
        display: block;
      }
    }
    .main-nav__toggle {
      @media (--mobile-only) {
        display: none;
      }
    }
  }
}

.main-nav__inner {
  position: relative;
  @media (--tablet) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  @media (--desktop) {
    width: 1050px;
  }
}

.main-nav__toggle-wrap {
  @mixin container;
  position: relative;
  @media (--tablet) {
    width: auto;
  }
  @media (--desktop) {
    position: static;
    margin: 0;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: -15px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
  background-color: $color-white;
  cursor: pointer;
  border: none;
  outline: none;
  @media (--tablet) {
    display: none;
  }
}

.main-nav__lists {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-bottom: 1px solid #ececec;
  @media (--tablet) {
    border-bottom: none;
  }
  @media (--desktop) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: none;
  }
}

.main-nav__list,
.main-nav__item {
  margin: 0;
  padding: 0;
}

.main-nav__list {
  list-style-type: none;
  @media (--tablet) {
    display: flex;
    justify-content: flex-end;
    width: 500px;
  }
  @media (--desktop) {
    width: 425px;
  }
}

.main-nav__item {
  font-size: 17px;
  line-height: 1.4;
  font-weight: bold;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  @media (--tablet) {
    border-top: none;
  }

  &--text-hidden {
    @media (--tablet) {
      font-size: 0;
      width: 85px;
      .main-nav__link {
        height: 100%;
      }
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 27px 25px 27px 45px;
  text-decoration: none;
  color: $color-black;
  @media (--tablet) {
    width: auto;
    padding: 31px 0 30px 82px;
  }
  @media (--desktop) {
    padding: 31px 0 34px 81px;
  }

  &--icon {
    > svg {
      position: absolute;
      fill: #d3d2d2;
      top: 30px;
    }
  }

  &--icon-search {
    > svg {
      left: -3px;
      @media (--tablet) {
        top: 36px;
        left: 33px;
      }
    }
  }

  &--icon-cart {
    > svg {
      left: -5px;
      @media (--tablet) {
        top: 34px;
        left: 32px;
      }
    }
  }

  &:hover {
    color: #8d8d8d;
    > svg {
      fill: #63d1bb;
    }
  }
  &:active {
    opacity: 0.3;
  }
}

.main-nav__list--positioned {
  @media (--tablet) {
    position: absolute;
    left: 0;
    top: calc(100% + 3px);
    z-index: 20;
    width: 425px;
    justify-content: flex-start;
  }
  @media (--desktop) {
    position: static;
  }
  .main-nav__item {
    @media (--tablet) {
      border-left: none;
    }
  }
  .main-nav__link {
    @media (--tablet) {
      font-size: 15px;
      line-height: 1.6;
      padding: 15px 36px 15px 0;
      border: none;
    }
    @media (--desktop) {
      font-size: 17px;
      line-height: 1.4;
      padding: 31px 39px 34px 34px;
      border-right: 1px solid #ececec;
    }
    &--no-padding {
      @media (--desktop) {
        padding-left: 0;
      }
    }
    &--no-border {
      @media (--desktop) {
        border-right: none;
      }
    }
  }
}

.main-nav__hot-links {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(100% + 18px);
  left: calc((100% - 1050px) / 2);
  list-style-type: none;
  @media (--desktop) {
    display: flex;
  }
}

.main-nav__hot-link {
  width: 175px;
  margin-right: 44px;
  z-index: 15;
  font-size: 15px;
  line-height: 1.6;

  a {
    color: $color-black;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
  }
}






