.main-nav {
  background-color: peachpuff;
  &--closed {

  }

  &--nojs {

  }
}
.main-nav__toggle {
  position: absolute;
  right: 1px;
  z-index: 1;
}
.main-nav__inner {
  @mixin container;
  position: relative;
  display: flex;
  flex-direction: column;

  outline: 2px solid hotpink;
}
.main-nav__list,
.main-nav__item {
  margin: 0;
  padding: 0;

  outline: 1px solid hotpink;
}
.main-nav__list {
  list-style-type: none;

}
.main-nav__item {
  position: relative;

  &--icon {

    &::before {
      content: "";
      position: absolute;
      width: 21px;
      height: 21px;

      outline: 1px solid $color-mint-dark;
    }

    &--icon-search {
      &::before {
        background-image: url("../../img/icon-search.svg");
      }
    }

    &--icon-cart {
      &::before {
        background-image: url("../../img/icon-cart.svg");
      }
    }
  }
}
