.map-address {
  padding-top: calc(457/320 * 100%);
  margin-bottom: 38px;
  background-color: yellow;
  background-image: url("../../img/icon-map-pin.svg"),
                    url("../../img/map-mobile@1x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 67px auto,
                    cover;
  @media (--retina) {
    background-image: url("../../img/map-mobile@2x.jpg");
  }

  @media (--tablet) {
    padding: 0;
    height: 457px;
    margin-bottom: 55px;
    background-image: url("../../img/icon-map-pin.svg"),
                      url("../../img/map-tablet@1x.jpg");
    background-size: 67px auto, cover;
    @media (--retina) {
      background-image: url("../../img/map-tablet@2x.jpg");
    }
  }

  @media (--desktop) {
    margin: -70px 0 0;
    padding: 0;
    width: 525px;
    order: 1;
    background-image: url("../../img/icon-map-pin.svg"),
                      url("../../img/map-desktop@1x.jpg");
    background-size: 67px auto,
                      525px auto;
    @media (--retina) {
      background-image: url("../../img/map-desktop@2x.jpg");
    }
  }
}



