.page-footer {
  padding-top: 14px;
  padding-bottom: 16px;
  background-color: $color-gray;
}
.page-footer__inner {
  @mixin container;
  display: flex;
  flex-direction: column;
}
.page-footer__logo {
  display: none;
  width: 105px;
}
.page-footer__copyright {
  padding-top: 20px;
  padding-left: 37px;
  padding-bottom: 5px;
  font-size: 19px;
  line-height: 1.0;
  font-weight: bold;
}
.page-footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 39px;
  margin-left: 19px;
  font-size: 0;
  background-image: url("../../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (--tablet) {
  .page-footer {
    padding-top: 51px;
    padding-bottom: 51px;
  }
  .page-footer__inner {
    flex-direction: row;
    justify-content: space-between;
  }
  .page-footer__logo {
    display: block;
  }
}
