.page-footer {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $color-gray;
  @media (--tablet) {
    padding-top: 35px;
    padding-bottom: 18px;
  }
}

.page-footer__inner {
  @mixin container;
  display: flex;
  flex-direction: column;
  @media (--tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: none;
  width: 105px;
  @media (--tablet) {
    display: block;
    width: 174px;
  }
}

.page-footer__copyright {
  padding-top: 12px;
  padding-bottom: 9px;
  font-size: 19px;
  line-height: 1.0;
  font-weight: bold;
  text-align: center;
  @media (--tablet) {
    width: 190px;
    padding-top: 13px;
  }
}

.page-footer__copyright-link {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-right: 74px;
  padding-left: 19px;
  padding-bottom: 15px;
  text-decoration: none;
  color: $color-black;
  @media (--tablet) {
    padding-left: 8px;
  }

  > svg {
    position: absolute;
    top: 9px;
    right: 40px;
    fill: #63d1bb;
    @media (--tablet) {
      right: 0;
    }
  }

  &:hover {
    > svg {
      fill: #46c1ae;
    }
  }
  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-hidden {
  font-size: 0;
}
