.page-header {
  position: relative;
  background-color: #f9f9f9;
}
.page-header__note {
  display: none;
  line-height: calc(24/15);

  @media (--tablet) {
      display: block;
      position: absolute;
      top: 2px;
      right: -1px;
  }
}

.page-header__logo {
  display: block;
  height: 80px;
  text-align: center;
  @media (--tablet) {
    height: 87px;
    width: 167px;
    flex-shrink: 0;
  }
  @media (--desktop) {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    z-index: 10;
  }
}

.page-header__content {
  position: relative;
  padding-top: 70px;
  padding-bottom: 75px;
  @media (--tablet) {
    @mixin container;
    padding-top: 95px;
    padding-bottom: 79px;
  }
  @media (--desktop) {
    padding-top: 94px;
    padding-bottom: 102px;
  }

  &--toy-house {
    background-image: url("../../img/hero-mobile@1x.jpg");
    background-position: center -17px;
    background-repeat: no-repeat;
  }

  &--align {
    padding-bottom: 122px;
    @media (--tablet) {
      padding-top: 153px;
      padding-bottom: 373px;
    }
    @media (--desktop) {
      padding-top: 155px;
      padding-bottom: 358px;
    }
  }
}

.page-header__title {
  @mixin container;
  padding: 0;
  font-size: 27px;
  line-height: calc(30/27);
  text-align: center;
  color: $color-black;
  @media (--tablet) {
    font-size: 43px;
    line-height: calc(50/43);
    text-indent: 8px;
  }
  @media (--desktop) {
    font-size: 53px;
    line-height: calc(57/53);
    text-indent: 12px;
  }
}




