.process {
  padding-top: 10px;
  padding-bottom: 59px;
}
.process__inner {
  @mixin container;
  padding-top: 23px;
  padding-bottom: 31px;
  border: 1px solid #ececec;
}
.process__title {
  position: relative;
  margin: 0;
  padding-left: 89px;
  margin-bottom: 24px;
  font-size: 17px;
  line-height: calc(24/17);

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 33px;
    width: 32px;
    height: 27px;
    background-image: url("../../img/icon-video.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.process__video {
  position: relative;
  height: 150px;
}
.process__video-play-btn {
  position: absolute;
  top: 39px;
  left: 78px;
  width: 100px;
  height: 76px;
  font-size: 0;
  border: none;
  border-radius: 18px;
  background-image: url("../../img/icon-play.svg");
  background-color: $color-white;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}
.process__description {
  margin: 0;
  padding: 26px 40px 24px 32px;
  font-size: 13px;
  line-height: 24px;
}
.process__btn {
  width: 192px;
  margin: 0 auto;
}

@media (--tablet) {
  .process__inner {
    display: flex;
    flex-direction: column;
  }
  .process__title {
    order: 1;
  }
  .process__video {
    height: 455px;
  }
  .process__wrap {
    order: 2;
  }
}

@media (--desktop) {
  .process__inner {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 58px;
  }
  .process__title {
    order: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 260px;
    padding-top: 101px;
    width: 232px;
    font-size: 20px;
    line-height: 1.2;
  }
  .process__video {
    order: 1;
    width: 682px;
    margin: 0;

  }
  .process__wrap {
    width: 232px;
    margin-top: -260px;
  }
}
