.products {
  @mixin container;
  padding-top: 30px;
  padding-bottom: 22px;
  outline: 1px solid red;
  @media (--tablet) {
    padding-top: 80px;
    padding-bottom: 52px;
  }
}
.products__item {
  margin-bottom: 31px;
  @media (--tablet) {
    margin-bottom: 54px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}



@media (--desktop) {
  .products {
    padding-top: 112px;
    padding-bottom: 57px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .products__item {
    width: 315px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 30px;
    }
  }
}
