.reviews {
}
.reviews__inner {
  @mixin container;
  padding-top: 24px;
  padding-bottom: 44px;
}
.reviews__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 1.2;
}
.reviews__list {
  padding-bottom: 34px;
}
.reviews__item {
  margin: 0;
}
.reviews__item > p {
  margin-bottom: 25px;
}
.reviews__author-name {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.333;
  font-weight: bold;
  font-style: normal;
}
.reviews__author-nickname {
  display: block;
  font-size: 18px;
  line-height: 1.333;
}
.reviews__btn {
  margin-top: 36px;
  text-decoration: none;
}

@media (--tablet) {
  .reviews__inner {
    display: flex;
    flex-wrap: wrap;
    padding-top: 79px;
    padding-bottom: 68px;
  }
  .reviews__title {
    flex-grow: 1;
  }
  .reviews__list {
    order: 2;
  }
  .reviews__btn {
    order: 1;
    align-self: flex-start;
  }
}

@media (--desktop) {
  .reviews__inner {
    padding-left: 175px;
  }
}
