.reviews {
  padding-top: 24px;
  padding-bottom: 51px;
  @media (--tablet) {
    padding-top: 78px;
    padding-bottom: 96px;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;
    @media (--retina) {
      background-image: url("../../img/review@2x.jpg");
    }
  }
  @media (--desktop) {
    padding-top: 0;
    padding-bottom: 0px;
    background-image: none;
  }
}

.reviews__inner {
  @mixin container;
  @media (--tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @media (--desktop) {
    padding-top: 71px;
    padding-left: 175px;
    padding-bottom: 150px;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;
    @media (--retina) {
      background-image: url("../../img/review@2x.jpg");
    }
  }
}

.reviews__title {
  margin: 0 0 25px;
  font-size: 25px;
  line-height: 1.2;
  color: $color-black;
  @media (--tablet) {
    flex-grow: 1;
    margin-bottom: 39px;
    font-size: 43px;
    line-height: calc(50/43);
    text-indent: -4px;
  }
  @media (--desktop) {
    font-size: 53px;
    line-height: calc(57 / 53);
  }
}

.reviews__list {
  padding-bottom: 34px;
  @media (--tablet) {
    order: 2;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__item > p {
  margin: 0 0 27px;
  @media (--tablet) {
    margin-bottom: 59px;
    padding-top: 9px;
    font-size: 17px;
    line-height: calc(30/17);
  }
  @media (--desktop) {
    padding-right: 100px;
    margin-bottom: 40px;
  }
}

.reviews__author-name {
  display: block;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 1.333;
  font-weight: bold;
  font-style: normal;
  color: $color-black;
  @media (--tablet) {
    margin-bottom: 2px;
    font-size: 17px;
    line-height: calc(24/17);
  }
}

.reviews__author-nickname {
  display: block;
  font-size: 18px;
  line-height: 1.333;
  @media (--tablet) {
    font-size: 17px;
    line-height: calc(30/17);
  }
}

.reviews__btn {
  margin-top: 36px;
  text-decoration: none;
  padding-left: 80px;
  padding-right: 79px;
  @media (--tablet) {
    order: 1;
    margin-top: 0;
    padding-left: 42px;
    width: 175px;
    align-self: flex-start;
    text-align: inherit;
  }
  @media (--desktop) {
    margin-top: 8px;
  }
}




