.separator {
  position: relative;
  box-sizing: border-box;
  &::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 50%;
    height: 7px;
    width: 100vw;
    margin-left: -50vw;
    background-repeat: repeat-x;
    background-image: url(../../img/wave-small.png);
    background-position: 11px center;
    @media (--tablet) {
      height: 17px;
      background-image: url(../../img/wave-largel.png);
      background-position: 31px center;
    }
  }

  &--nav {
    @media (--tablet) {
      &::after {
        content: "";
        position: absolute;
        z-index: 12;
        box-sizing: border-box;
        bottom: 0;
        left: 0;
        height: 12px;
        width: 100%;
        background-repeat: repeat-x;
        background-image: url(../../img/wave-nav.png);
        background-position: 0px;
      }
    }
  }
}
