.short-nav {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  flex-direction: column;
  list-style-type: none;
  font-size: 19px;
  line-height: 1.26;
  font-weight: bold;
  @media (--tablet) {
    @mixin container;
    flex-direction: row;
    font-size: 20px;
    line-height: calc(30/20);
  }
}
.short-nav__item {
  box-sizing: border-box;
  position: relative;
  @media (--tablet) {
    width: 50%;
  }
  &:hover {
    transform: translateY(-5px);
  }
  &:nth-child(2n+1) {
    background-color: $color-mint;
    &:hover {
      background-color: #59d5bc;
    }
  }
  &:nth-child(2n) {
    background-color: $color-mint-dark;
    &:hover {
      background-color: #46c1ae;
    }
  }
}
.short-nav__inner {
  @mixin container;
  padding-right: 130px;
  @media (--tablet) {
    width: 100%;
    padding-left: 36px;
  }
}

.short-nav__link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 26px 0 36px;
  margin-bottom: -5px;
  text-decoration: none;
  color: $color-white;
  transition: transform 0.2s ease-in;
  @media (--tablet) {
    padding: 27px 0 37px;
  }

  &:hover {
    transform: translateY(-5px);
  }
  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &--interior {
    &::after {
      width: 41px;
      height: 62px;
      right: calc((100vw - 320px) / 2 + 26px);
      top: 22px;
      background-image: url("../../img/icon-interior.svg");
      @media (--tablet) {
        right: 36px;
        top: 30px;
      }
    }
  }
  &--toys {
    &::after {
      width: 61px;
      height: 61px;
      right: calc((100vw - 320px) / 2 + 16px);
      top: 21px;
      background-image: url("../../img/icon-toy.svg");
      @media (--tablet) {
        right: 33px;
        top: 32px;
      }
    }
  }
}
