@import "../global/variables.css";

.short-nav {
  width: 320px;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  list-style-type: none;
}

.short-nav__item {
  position: relative;

  outline: 1px solid hotpink;
  min-height: 103px;

  &:nth-child(2n+1) {
    background-color: $color-mint;
  }
  &:nth-child(2n) {
    background-color: $color-mint-dark;
  }
  &::after {
    content: "";
    position: absolute;
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
  }

  &--interior {
    &::after {
      background-image: url("../../img/icon-interior.svg");
    }
  }
  &--toys {
    &::after {
      background-image: url("../../img/icon-toy.svg");
    }
  }
}
