.slider {
  background-color: $color-white;
}

.slider__items {

}

.slider__item {

}

.slider__controls {

}

.slider__btn {
  background-repeat: no-repeat;

  &--prev {
    background-image: url("../../img/icon-left-arrow.svg");

  }
  &--next {
    background-image: url("../../img/icon-right-arrow.svg");
  }
}
