.social-links {
  outline: 2px dotted darkviolet;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0 8px 0;
  border-bottom: 1px solid #e5e5e5;
  @media (--tablet) {
    width: 246px;
    padding-top: 7px;
  }
}

.social-links__item {
  margin-right: 13px;
  margin-left: 6px;
  margin-bottom: 10px;
  @media (--tablet) {
    margin-right: 5px;
    margin-left: 14px;
  }
}
