.social-link {
  position: relative;
  display: block;
  width: 40px;
  height: 44px;
  font-size: 0;
  background-repeat: no-repeat;
  > svg {
    fill: #221f1f;
  }

  &:hover {
    > svg {
      fill: #46c1ae;
    }
  }
  &:active {
    > svg {
      opacity: 0.3;
    }
  }

  &--inst {
    > svg {
      position: absolute;
      top: 11px;
      left: 10px;
    }
  }

  &--fb {
    > svg {
      position: absolute;
      top: 5px;
      left: 15px;
    }
  }

  &--tw {
    > svg {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}
