.social-link {
  display: block;
  margin-right: 40px;
  margin-bottom: 10px;
  font-size: 0px;
  background-repeat: no-repeat;

  &--inst {
    width: 23px;
    height: 21px;
    background-image: url("../../img/icon-insta.svg");
  }

  &--fb {
    width: 16px;
    height: 29px;
    background-image: url("../../img/icon-fb.svg");
  }

  &--tw {
    width: 24px;
    height: 21px;
    background-image: url("../../img/icon-twitter.svg");
  }
}
